---
import Card from "@/components/ui/Card.astro";
import Image from "@/components/ui/Image.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  service: CollectionEntry<"services">;
}

const { service } = Astro.props;
---
<Card>
  <a class="card-link flow" href={`/servicios/${service.slug}`}>
    <Image src={service.data.coverImage} alt={service.data.coverAlt} />
    <div class="flow">
      <h3>{service.data.title}</h3>
      <p>{service.data.excerpt}</p>
    </div>
  </a>
</Card>
